.wrapper
{
	//width:100%;
	//display:block;
	//float:left;
}

.header
{
	display:block;
	float:left;
	width:100%;
	border:3px solid #9C6340;
}

.headerText
{
	margin-left:500px;
	color:#656664;
}

.brand
{
	display:block;
	float:left;
	width:100px;
	height:100%;
	border-right:3px solid 	#9C6340;
	border-left:3px solid 	#9C6340;
	border-bottom:3px solid #9C6340;
}

.color
{
	display:block;
	float:left;
	width:100px;
	height:100%;
	border-right:3px solid 	#9C6340;
	border-bottom:3px solid #9C6340;
}

.availability
{
	display:block;
	float:left;
	width:100px;
	height:100%;
	border-right:3px solid 	#9C6340;
	border-bottom:3px solid #9C6340;
}

.display
{
	display:block;
	float:left;
	width:1022px;
	height:100%;
	border-right:3px solid 	#9C6340;
	border-bottom:3px solid #9C6340;
}

.display img
{
	width:100px;
	height:100px;
	display:none;
}
